
<% if @posts.present? %>
    <div class="rankings-contents-area">
    <div class="row">
    <% @posts.each_with_index do |post, index| %>
      <div class="col-xs-6 rank-inline">
        <p class="text-center"><%= index+1 %>位: <%= @ranking_counts[post.id] %> いいね</p>
        <%= link_to post_path(post) do %>
          <%= image_tag post.image_name.to_s, :class=> 'img-ranks' %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>