/* 小型スマホのスタイル */

@media (max-width: 349px){
        .post-content-area .img-responsive {
          width: 276px;
          height: 276px;
      }
    
    .show-image-area img {
    width: 260px;
    height: 260px;
  }
  .rankings-contents-area img {
    width: 273px;
    height: 273px;
  }
  
  .show-posts-area .post-content-area .img-responsive {
          width: 245px;
          height: 245px;
      }

}

/* スマホ共通のスタイル */
@media (max-width: 600px){
   
  .navbar .container .navbar-collapse .nav-form {
    display: initial;
  }  
    
    .cover-content h3 {
        font-size: 13px;
  }
  
  .main-cover .col-xs-4 {
      width: initial;
      float: initial;
  }
  
  .show-title-area {
    padding-left: 10px;
  }
  
  .show-created_at-area {
    padding-right: 10px;
  }
  
  .post-show-area .col-xs-7 {
    width: 100%;
    float: initial;
    padding: initial;
}

  .post-show-area .col-xs-5 {
    width: 100%;
    float: initial;
    padding: initial;
}

.show-image-area {
  text-align: center;
}

.show-image-area img{
  display: inline-block;
}

.show-user-area {
  padding: 10px;
}

.show-user-image {
    width: 30%;
    float: left;
}

.show-user-area img {
    width: 70px;
    height: 70px;
}

.show-user-name {
    padding-left: 10px;
    width: 70%;
}

.show-scroll-area {
  margin-top: 0;
}

.login-guide {
  padding-left: 10px;
}

.user_show .inner .row {
  padding: 10px 0;
}

.user_show .col-xs-4 {
  width: initial;
  padding: initial;
}

.show-posts-area .col-xs-4{
  width: 100%;
}


.user_show .col-xs-8 {
  width: initial;
  padding: 10px 0 0 30px;
  width: 50%;
}

.edit-profile-box {
  width: initial;
  width: 50%;
}

.user_show .inner .row .edit-profile-btn, .new-post-btn {
    float: right;
}

.tab-area {
    padding: 0 0 30px;
}    

.tab-area .col-xs-8 {
  width: 100%;
  padding: initial;
}

.tab-area .col-xs-offset-2 {
    margin-left: initial;
}

.nav-justified>li {
    float: left;
}

.tab-area .nav-justified>li {
    width: 33%;
}
  
  
.tab-area .nav>li>a {
    padding: 3px;
}

.rankings-contents-area{
  width: 85%;
}

.rankings-contents-area .col-xs-6 {
     width: 100%;
     padding: initial;
}

.nav-tabs.nav-justified>li {
     font-size: 13px;
}

.media-list .col-xs-2 {
    width: initial;
}

.media-list .col-xs-offset-2 {
    margin-left: initial;
}

.media-list .col-xs-6 {
    width: 57%;
    padding: initial;
}

.media-list .user-name {
    padding-top: 0;
}

.media-list .user-follow-btn {
    margin-top: initial;
}

.user-name {
  width: 100%;
}
  
    footer {
        width: 100%;
    }
    
  footer ul li:first-child {
      margin-left: initial;
  }  
    
  footer ul li {
      float: initial;
  }  
    
  .copyright {
      margin-right: initial;
  }  
    
}

/* iphone 6/7/8用のスタイル */
@media (min-width: 350px) and (max-width: 399px){
  .post-content-area .img-responsive{
    margin: 0 auto;
  }
  
  .show-image-area img {
      width: 300px;
      height: 300px;
      
  }
  
  .rankings-contents-area img {
    width: 325px;
    height: 325px;
}

.show-posts-area .img-responsive {
    width: 280px;
    height: 280px;
}
}

/* iphone plus用のスタイル */
@media (min-width: 400px) and (max-width: 420px){
 .post-content-area .img-responsive {
    display: block;
    width: 300px;
    height: 300px;
 }
 
  .show-image-area img {
      width: 340px;
      height: 340px;
  }
  
  .rankings-contents-area img {
    width: 325px;
    height: 325px;
}
}

/* スマホのスタイル */
@media (min-width: 350px) and (max-width: 500px){
       .post-content-area .img-responsive {
      margin: 0 auto;
      width: 330px;
      height: 330px;
  }
}

/* 大きめスマホのスタイル */
@media (min-width: 501px) and (max-width: 600px){
       .post-content-area .img-responsive {
      margin: 0 auto;
    width: 370px;
    height: 370px;
  }
}



/* タブレットのスタイル */
@media (min-width: 768px){
  .post-content-area .img-responsive {
    width: 200px;
    height: 200px;
  }
  
  .show-image-area img {
    width: 330px;
    height: 330px;
  }
  
  .rankings-contents-area img {
    width: 310px;
    height: 310px;
  }
  
  .show-posts-area .post-content-area .img-responsive {
    width: 160px;
    height: 160px;
}
  .edit-profile-box {
    float: right;
    width: 25%;
}
  
  .media-list .col-xs-2 {
    width: initial;
}

.col-md-6 {
      width: 50%;
      float: initial;
      margin: 0 auto;
}
  
  footer {
      width: 735px;
  }
}

/* 大きめのタブレットのスタイル */
@media (min-width: 992px){
  .container {
      width: 970px;
  }
  
    .post-content-area .img-responsive {
    width: 290px;
    height: 290px;
  }
  
    .show-image-area img {
    width: 435px;
    height: 435px;
  }
  
    .show-posts-area .post-content-area .img-responsive {
    width: 210px;
    height: 210px;
}


  footer {
      width:955px;
  }
}

/* パソコンのスタイル */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    padding: 0;
   }
   
   footer {
    width: 1000px;
    margin: 0 auto;
   }
}







.container {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: -20px;
    margin-right: auto;
    margin-left: auto;
}



