
  <div class="inner">
    <div class="row">
      <% if users.any? %>
      
        <ul class="media-list">
      
          <% users.each do |user| %>
            <li class="media">
               <aside class="col-xs-offset-2 col-xs-2">
                   <%= image_tag user.image_name, class: 'img-responsive' %>
              </aside>
              <div class="media-body">
              <div>
                <div>
                  <p><%= link_to user.name, user_path(user) %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
