<div class="user_show">
  <div class="inner">
    <div class="row">
      <aside class="col-xs-4">
          <div class="panel-body">
            <img class="media-object img-rounded img-responsive" src="https://secure.gravatar.com/avatar/37aea63bb3e570e6f2229a96e172c18a?s=500" alt="">
          </div>
      </aside>
      <div class="col-xs-offset-5 col-xs-3">
        <div class="edit-profile-btn">
          プロフィールを編集
        </div>
      </div>
      <div class="col-xs-8">
        <h4>yuuya</h4>
      </div>  
      
      <div class="right-aside">
        <div class="col-xs-8">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">投稿：xx件</li>
            <li class="">xx人をフォロー</li>
            <li class="">xx人のフォロワー</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="tab-area">
      <div class="col-xs-offset-2 col-xs-8">
        <ul class="nav nav-tabs nav-justified">
          <li class="active">投稿一覧</li>
          <li class="">フォロー</li>
          <li class="">フォロワー</li>
        </ul>
      </div> 
    </div>  
    <div class="row">
      <div class="new-post-btn">
          新規投稿
      </div>
    </div>  
      
  </div>
</div>