<% if unlogged_in? %>
  <section class="cover">
    <div class="bkrgba">
      <div class="cover-inner">
        <div class="cover-content">
          <h3>PhotoRecoは画像共有・交流サービスです。</h3>
          <h3>気になる投稿にいいねやコメントしてみよう！</h3>
        </div>
      </div>
    </div>
  </section>
<% end %>


<div class="main-cover clearfix" >
<%= render 'posts/posts', posts: @posts %>
</div>
