<% if unlogged_in? %>
  <section class="cover">
    <div class="bkrgba">
      <div class="cover-inner">
        <div class="cover-content">
          <p>思い出を、記録しよう。</p>
        </div>
      </div>
    </div>
  </section>
<% end %>


<div class="main-cover clearfix" >
<%= render 'posts/posts', posts: @posts %>
</div>
