
a:hover {
    text-decoration: none;
}

a:visited {
    color:#000000;
}



/* navbar 背景色・下線色*/
.navbar-inverse {
    background-color: #fff;
    border-color: #E0E0E0;
}

/* タイトルフォント 色・サイズ・書式指定*/
.navbar-inverse .navbar-brand {
    color: #000;
    font-size: 25px;
    font-family: 'Mali', cursive;
}

/* タイトルフォント マウスオーバー 色*/
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #E0E0E0;
    background-color: transparent;
}

/* ナビバー　検索フォーム　中央寄せ　*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  text-align: center;
}

/* ナビバー　検索フォーム　横幅　インラインブロック化　*/
.navbar .container .navbar-collapse .nav-form {
  width: 200px;
  display: inline-block;
}

/* ナビバー　検索フォーム　中央寄せ　*/
.navbar .container .navbar-collapse .nav-form .form-group {
    margin: 10px 0;
}

/* ナビバー　検索フォーム　フォントサイズ・文字間隔　*/
.navbar .container .navbar-collapse .nav-form .form-group .form-control {
    font-size: 13px;
    margin-top: 12px;
    letter-spacing: 1px;
    background-color: #E7E7E7;
    opacity: 0.3;
    height: 26px;
}

/* モバイルボタン 色・枠線色*/
.navbar-inverse .navbar-toggle {
    background-color: #E57373;
    border-color: #E57373;
}

/* モバイルボタン 押下時の色・枠線*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #E57373;
    border-color: #E57373;
}

/* モバイルボタン 押下時のnabver枠線*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #E0E0E0;
}

/* nabver 右コンテンツ signup 色 */
.navbar-inverse .navbar-nav>li>a {
    color: #E57373;
    padding-top: 17px;
}

/* hover時 ナビバー 右コンテンツ 色*/
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffcdd2;
    background-color: transparent;
}

/* nabver 右コンテンツ ボタン 文字色 大きさ*/
.navbar-inverse .navbar-nav>li>.btn {
    color: #fff;
    padding: 6px 19px;
    margin-top: 10px;
    background-color: #E57373;
    border-color: #E57373;
    border-radius: 5px;
    font-size: 18px;
    
}

/* hover時 ナビバー 右コンテンツ ボタン 文字色 大きさ*/
.navbar-inverse .navbar-nav>li>.btn:hover {
    color: #fff;
    background-color: #ffcdd2;
    border-color: #ffcdd2;
}



.cover {
  margin-top: -20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover.jpg") center center no-repeat;
  background-size: cover;
}

.bkrgba {
    height: 100%;
    background: rgba(255,255,255,0.6);
}

.cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}

.cover-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.cover .cover-inner .cover-content p {
    margin: 0 0 10px;
    font-size: 24px;
    color: #000;
}

.inner {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}

.main-area {
    width: 100%;
    margin-top: -20px;
    background: rgba(255,205,210,0.2);
}

.row {
    background-color: #fff;
    padding: 30px 0 20px 0;
    background: #fff;
}

.row .btn-primary {
    background-color: #E57373;
    border-color: #E57373;
}

.row .btn-primary:hover {
    background-color: #ffcdd2;
    border-color: #ffcdd2;
}

.form-control {
    background-color: #E7E7E7;
    opacity: 0.3;
}

.user_show .inner {
    padding-top: 0;
}

.user_show .inner .row:first-child {
    background: rgba(255,205,210,0);
}

.user_show .inner .row {
    padding: 20px;
}

.user_show .inner .row:first-child {
    border-bottom: 1px solid #E7E7E7;
}

.edit-profile-box{
    float: right;
    width: 20%;
}

.user_show .inner .row .edit-profile-btn, .new-post-btn {
    font-size: 12px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
}

.new-post-area {
    width: 100%;
    height: 20px;
}

 .new-post-btn {
     float: right;
 }

.tab-area {
    padding: 0 0 20px;
    margin: 10px;
}

.fix {
    width: 100%;
    height: 16px;
    background-color: #fff;
}

.post-content-area {
    margin: 16px 0;
}

.post-content-area .img-responsive {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover; /* この一行を追加するだけ！ */
    border-radius: 50px;
    border: solid 1px #e7e7e7;
}


.show-posts-area .img-responsive {
    display: block;
    width: 160px;
    height: 160px;
    object-fit: cover; /* この一行を追加するだけ！ */
    border-radius: 25px;
    border: solid 1px #e7e7e7;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover  {
    color: #E57373;
    background-color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #E57373;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #E57373;
    white-space: nowrap;
}

.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}  
  

.main-cover {
    margin-top: -20px;
    padding-top: 20px;
}


.alert {
    margin-bottom: 40px;

}




.user-destroy-box {
    width: 100%;
    float: left;
    padding: 20px 20px 0 0;
}

.user-destroy-box a {
    display: block;
    float: right;
    color: #E57373;
}


.user-profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px #e7e7e7;
    object-fit: cover;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #e7e7e7;
}


.show-title-area {
    font-weight: bold;
    margin-bottom: 20px;
}

.show-created_at-area {
    float: right;
}

.post-show-area {
    width: 80%;
}


.post-show-area img{
    width: 447px;
    height: 447px;
    object-fit: cover;
    border: solid 1px #e7e7e7;
}


.show-user-image img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px #e7e7e7;
}

.padding-top-control {
    padding-top: 10px;
}

.show-user-image {
    width: 20%;
    float:left;
}

.show-content-area {
    width:100%;
    height: 150px;
    margin: 10px 0;
    padding: 5px;
    border: solid 1px #e7e7e7;
}























footer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: solid 1px #e0e0e0;
}

.footer-content {
    width: 100%;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
}

footer ul li:first-child {
    margin-left: 10px;
}

.copyright {
    float: right;
    margin-right: 10px;
}

