<footer>
  <div class="footer-content">
  <ul>
    <li>PhotoRecoについて</li>
    <li>プライバシー</li>
    <li>利用規約</li>
  </ul>
  <div class="copyright">
    <p>2018 PhotoReco</p>
  </div>
  </div>
</footer>  